@import "../styles/variables";

.calendar-view {
  display: flex;
  flex-direction: column;
  background-color: $bg-secondary;
  min-height: 600px;
  max-height: 800px;

  &__content {
    flex: 1;
    overflow: auto;
    position: relative;
  }
}
