@import "../styles/variables";

.todo-list {
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $spacing-16 0;
  }

  &__empty-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $bg-tertiary; // #202024
    border: 1px solid $bg-hover; // #2A2A2F
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-5;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      color: $text-secondary; // #C7C7C7
    }
  }

  &__empty-title {
    font-size: $font-size-xl; // 20px
    font-weight: $font-weight-semibold; // 600
    color: $text-primary; // #F5F5F5
    margin-bottom: $spacing-2 + $spacing-1;
  }

  &__empty-subtitle {
    font-size: $font-size-base; // 16px
    color: $text-secondary; // #C7C7C7
  }
}
