@use "../../styles/variables" as *;

.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    #fd9c79 0%,
    #ff6758 15%,
    #fd3039 35%,
    #7a0026 65%,
    #66172a 100%
  );
  color: #ffffff;
  box-shadow: none;
  z-index: 1000;
  height: 64px;

  &__toolbar {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    max-width: 100%;
  }

  &__logo-container {
    flex-grow: 1;
    height: 70px;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 130%;
    width: auto;
    object-fit: contain;
  }
}
